@{
    ViewBag.Title = "Order";
}
<div class="text-justify">
    <h1>Order Management Online</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Order Management", "Index", "Orders")</h2>
        <p>This is to manage order info</p>
    </div>
</div>